
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 

.centrado{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.noticias{
    height: 100%;
    padding: 2% 10%;
    text-align: center;
}

.contenedor-texto p{
    text-align: left;
    padding: 0% 15%;
    color: black;
   
}
.contenedor-texto a{
    color: black;
    text-decoration: underline;
   
}
.contenedor-texto h2{
    text-align: center;
}

.contenedor-bienvenido{
    background-image: url(imagenes/bienvenido.jpg);
    padding: 2%;
    text-align: center;
    font-size: 30px;
    color: white;
   
}

.contenedor-footer{
    width:100%;
}

#footer{
    background-color: black;
    width: 100%;
    color: white;
    bottom:0px;
  }
  
  .redessociales {
      padding-bottom: 1%;
  }
  
  .allrights {
      padding: 1%;
  }
  
  footer a{
      padding: 8px;
      text-decoration: none;
      color: white;
      font-size: 20px;
  }
  
  .contenedor-videos{
      padding:1% 10%;
  }
  
  footer a:hover {
	color: grey;
	text-decoration: none;
}

.contenedor-reflexiones{
    background-color: black;
    margin-top: 1%;
    margin-bottom: 2%;
}

.tituloref h4 h2{
 color: white;
 padding: 2%;
 text-align: center;
 
}
.subtitulo {
    text-align: center;
}

.contenedor-foto{
    text-align: center;
}

.tituloref{
    color: white;
    text-align: center;
    padding: 2% 1% 1% 1%
}
.tituloref p{
    color: white;
    text-align: center;
    font-size: 12px;
}

.contenedor-foto img{
    width: 50%;
    
}

.contenedor-text {
    padding: 2% 20%;
    text-align: left;
}

.contenedor-coach{
    text-align: left;
    padding: 0%10%5% 10%;
  
}

.contenedor-textcoach{
    padding: 1% 9%;
}

#contacto-redes{
    justify-content: center;
    padding: 5%;
    text-align: center;
}
#contacto-redes p{
    

    font-size: 20px;
    
}
#contacto-redes a{
    
    text-decoration: none;
    color:black;
    font-size: 30px;
    
}
#contacto-redes a:hover{
    color: grey;
}
#programaradio p{
    font-size: 12px;
}

.contenedor-icono{
    font-size: 30px; 
    padding: 0%0%2%0%;
}

.contenedor-icono:hover{
    font-size: 30px;
    color: orangered;
   
}